.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu li {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
}

.main-menu button {
  width: 100%;
}

.main-menu button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.main-menu button:hover {
  background-color: #444;
}

.main-menu input[type="search"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
}